<div class="container p-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="card p-5">
                 <!-- Basic Information Form -->
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Partner Name</label>
                    <input type="text" class="form-control" placeholder="Enter Name" value="{{singleData.partnername}}">
                </div> 

                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Joining Date</label>
                    <input type="date" class="form-control" value="{{singleData.joining}}">
                </div>

                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Account Number</label>
                    <input type="text" class="form-control" placeholder="Enter Account Number" value="{{singleData.accountnumber}}">
                </div>
                
                <div class="form-group mt-2">
                    <label for="Partner Type">Partner Type</label>
                    <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="IGW">IGW</option>
                    <option value="ICX">ICX</option>
                    <option value="IOS">IOS</option>
                    <option value="ANS">ANS</option>
                    <option value="INT">INT</option>
                    </select>
                </div>
                
                <div class="form-group mt-2">
                    <label for="Currency">Currency</label>
                    <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="BDT">BDT</option>
                    <option value="USD">USD</option>
                    </select>
                </div>
                
                <div class="form-group mt-2">
                    <label for="TimeZone">TimeZone</label>
                    <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="Coordinated Universal Time (UTC)">Coordinated Universal Time (UTC)</option>
                    <option value="Greenwich Mean Time (GMT)">Greenwich Mean Time (GMT)</option>
                    <option value="Eastern Standard Time (EST)">Eastern Standard Time (EST)</option>
                    <option value="Central Standard Time (CST)">Central Standard Time (CST)</option>
                    <option value="Mountain Standard Time (MST)">Mountain Standard Time (MST)</option>
                    <option value="Pacific Standard Time (PST)">Pacific Standard Time (PST)</option>
                    <option value="India Standard Time (IST)">India Standard Time (IST)</option>
                    <option value="China Standard Time (CST)">China Standard Time (CST)</option>
                    </select>
                </div>
                
                <div class="form-group mt-2">
                    <label for="Billing Cycle">Billing Cycle</label>
                    <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="Monthly">Monthly</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Yearly">Yearly</option>
                    </select>
                </div>
                
                <div class="form-group mt-2">
                    <label for="Status">Status</label>
                    <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Suspended">Suspended</option>
                    </select>
                </div>
                <button type="button" class="btn btn-success mt-1">Update</button>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-5">
                <!-- Partner Details Form -->
                <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Partner Phone Number</label>
                    <input type="text" class="form-control" placeholder="Enter Name">
                </div> 

                <div class="form-group mb-1 mt-1">
                    <label for="exampleInputEmail1">Partner Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                
                <div class="form-group mb-1 mt-1">
                    <label for="exampleInputEmail1">Partner Notification E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Notification E-mail">
                </div>

                <div class="form-group mb-1 mt-1">
                    <label for="VAT Reg Number">VAT Reg Number</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter VAT Reg Number">
                </div>
                
                <div class="form-group mb-1 mt-1">
                    <label for="Currency Rate">Currency Rate</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Currency Rate">
                </div>
                
                <div class="form-group mb-1 mt-1">
                    <label for="Contact Address">Contact Address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Contact Address">
                </div>
                
                <div class="form-group mb-1 mt-1">
                    <label for="Billing Address">Billing Address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Billing Address">
                </div>
                <button type="button" class="btn btn-success mt-1">Update</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-5">
                <!-- Account-management form -->
                <div class="form-group mt-2">
                    <label for="Manager ID">Manager ID</label>
                    <input type="text" class="form-control" placeholder="Enter Manager ID">
                </div> 
                
                <div class="form-group mt-2">
                    <label for="Manager Name">Manager Name</label>
                    <input type="text" class="form-control" placeholder="Enter Manager Name">
                </div> 
                
                <div class="form-group mt-2">
                    <label for="Manager Phone">Manager Phone</label>
                    <input type="text" class="form-control" placeholder="Enter Manager Phone">
                </div> 
                
                <div class="form-group mt-2">
                    <label for="Manager E-mail">Manager E-mail</label>
                    <input type="text" class="form-control" placeholder="Enter Manager E-mail">
                </div> 

                <div class="form-group mb-1 mt-1">
                    <label for="System Entry Date">System Entry Date</label>
                    <input type="date" class="form-control">
                </div>

                <button type="button" class="btn btn-success mt-1">Update</button>


            </div>
        </div>
    </div>
</div>
 