<!-- Navbar-start -->
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="tertiary">
  <div class="container">
    <a class="navbar-brand text-danger" href="#" style="font-family: 'Courier New', Courier, monospace; font-weight: 900; font-size: 28px;">Cellscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">User</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
<!-- Navbar-end -->
<div class="container mb-5" style="margin-top: 114px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mx-auto shadow-lg p-3">
        <h2 class="pt-3 pb-0">Dashboard</h2>
        <div class="card shadow-lg">
          <div class="card-body">
            <button class="btn btn-outline-danger mb-2 mt-1">Add New Patner</button>
            <h2>All Data</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Cell</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Asraful Haque</td>
                  <td>haq@gmail.com</td>
                  <td>01717700811</td>
                  <td>Mirpur</td>
                  <td>active</td>
                  <td>
                    <a class="btn btn-sm btn-info" href="#">View</a>
                    <a class="btn btn-sm btn-warning" href="#" style="margin-left: 6px; margin-right: 6px;">Edit</a>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Asraful Haque</td>
                  <td>haq@gmail.com</td>
                  <td>01717700811</td>
                  <td>Mirpur</td>
                  <td>active</td>
                  <td>
                    <a class="btn btn-sm btn-info" href="#">View</a>
                    <a class="btn btn-sm btn-warning" href="#" style="margin-left: 6px; margin-right: 6px;">Edit</a>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Asraful Haque</td>
                  <td>haq@gmail.com</td>
                  <td>01717700811</td>
                  <td>Mirpur</td>
                  <td>active</td>
                  <td>
                    <a class="btn btn-sm btn-info" href="#">View</a>
                    <a class="btn btn-sm btn-warning" href="#" style="margin-left: 6px; margin-right: 6px;">Edit</a>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Asraful Haque</td>
                  <td>haq@gmail.com</td>
                  <td>01717700811</td>
                  <td>Mirpur</td>
                  <td>active</td>
                  <td>
                    <a class="btn btn-sm btn-info" href="#">View</a>
                    <a class="btn btn-sm btn-warning" href="#" style="margin-left: 6px; margin-right: 6px;">Edit</a>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Asraful Haque</td>
                  <td>haq@gmail.com</td>
                  <td>01717700811</td>
                  <td>Mirpur</td>
                  <td>active</td>
                  <td>
                    <a class="btn btn-sm btn-info" href="#">View</a>
                    <a class="btn btn-sm btn-warning" href="#" style="margin-left: 6px; margin-right: 6px;">Edit</a>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr>
                
      
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>