<!-- Navbar-start -->
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="tertiary">
  <div class="container">
    <a class="navbar-brand text-danger" href="#" style="font-family: 'Courier New', Courier, monospace; font-weight: 900; font-size: 28px;">Celloscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">User</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
<!-- Navbar-end -->

<!-- All-Partner-Show-Data-On-Database -->
<div class="container mb-5" style="margin-top: 114px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mx-auto shadow-lg p-3">
        <h2 class="pt-3 pb-0">Dashboard</h2>
        <div class="card shadow-lg">
          <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger mb-2 mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Partner</button>
            <!-- Search-Form -->
            <div class="">
              <input class="form-control" type="search" placeholder="Search Here" aria-label="Search" style="width: 160px; float: right;" [(ngModel)]="inputValue" (ngModelChange)="getSearchInputChange()">
            </div>
            <h2>All Data</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Partner Name</th>
                  <th>Currency</th>
                  <th>Account Number</th>
                  <th>Partner Type</th>
                  <th>Billing Cycle</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let BasicInfo of BasicArray">
                  <td>{{ BasicInfo.partnername }}</td>
                  <td>{{ BasicInfo.currency }}</td>
                  <td>{{ BasicInfo.accountnumber }}</td>
                  <td>{{ BasicInfo.partnertype }}</td>
                  <td>{{ BasicInfo.timebillingcyclezone }}</td>
                  <td>{{ BasicInfo.status }}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="margin-left: 5px; margin-right: 5px;" (click)="getUpdate(BasicInfo)">Edit</button>
                    <button type="button" class="btn btn-sm btn-danger" style="margin-left: 5px; margin-right: 5px;" (click)="Delete(BasicInfo)">Delete</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form-Data-Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background: #ebf5fc;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Partner</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Basic Information
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!-- BasicInfo-Form-Start -->
                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Partner Name</label>
                  <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="name">
                </div> 

                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Joining Date</label>
                  <input type="date" class="form-control" [(ngModel)]="date">
                </div>

                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Account Number</label>
                  <input type="text" class="form-control" placeholder="Enter Account Number" [(ngModel)]="number">
                </div>

                <label for="Partner Type" class="mt-2">Partner Type</label>
                <ng-select [items]="partnerType" bindLabel="label" bindValue="value" style="border: 3px sloid rgb(147, 25, 25); height: 50%; width: 90%;" (change)="partnerType2($event)" [clearable]="false"></ng-select>

                <label for="Currency" class="mt-2">Currency</label>
                <ng-select [items]="currency" bindLabel="label" bindValue="value" style="border: 3px sloid rgb(147, 25, 25); height: 50%; width: 90%;" (change)="currency2($event)" [clearable]="false">
                </ng-select>

                <label for="TimeZone" class="mt-2">TimeZone</label>
                <ng-select [items]="timeZone" bindLabel="label" bindValue="value" style="border: 3px sloid rgb(147, 25, 25); height: 50%; width: 90%;" (change)="timeZone2($event)" [clearable]="false">
                </ng-select>

                <label for="Billing Cycle" class="mt-2">Billing Cycle</label>
                <ng-select [items]="billingCycle" bindLabel="label" bindValue="value" style="border: 3px sloid rgb(147, 25, 25); height: 50%; width: 90%;" (change)="billingCycle2($event)" [clearable]="false">
                </ng-select>

                <label for="Status" class="mt-2">Status</label>
                <ng-select [items]="status" bindLabel="label" bindValue="value" style="border: 3px sloid rgb(147, 25, 25); height: 50%; width: 90%; margin-bottom: 10px;" (change)="status2($event)" [clearable]="false">
                </ng-select>
          
                <button type="button" class="btn btn-primary mt-1" (click)="basicInfo()">Add</button>
                <!-- BasicInfo-Form-End -->

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Partner Details
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!-- PartnerDetails-Form-Start -->
                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Partner Phone Number</label>
                  <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="partnernumber">
                </div> 
          
                <div class="form-group mb-1 mt-1">
                  <label for="exampleInputEmail1">Partner Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" [(ngModel)]="partneremail">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="exampleInputEmail1">Partner Notification E-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Notification E-mail" [(ngModel)]="partnernotificationemail">
                </div>

                <div class="form-group mb-1 mt-1">
                  <label for="VAT Reg Number">VAT Reg Number</label>
                  <input type="text" class="form-control" placeholder="Enter VAT Reg Number" [(ngModel)]="partnerVat">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="Currency Rate">Currency Rate</label>
                  <input type="text" class="form-control" placeholder="Enter Currency Rate" [(ngModel)]="partnercurrency">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="Contact Address">Contact Address</label>
                  <input type="text" class="form-control" placeholder="Enter Contact Address" [(ngModel)]="partneraddress">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="Billing Address">Billing Address</label>
                  <input type="text" class="form-control" placeholder="Enter Billing Address" [(ngModel)]="partnerbillingaddress">
                </div>
          
                <button type="button" class="btn btn-danger mt-1" (click)="partnerDetails()">Add</button>
                <!-- PartnerDetails-Form-End -->

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Account Manager Information
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!-- AccountManagerInfo-Form-Start -->
                <div class="form-group mt-2">
                  <label for="Manager ID">Manager ID</label>
                  <input type="text" class="form-control" placeholder="Enter Manager ID" [(ngModel)]="managerID">
                </div> 
                
                <div class="form-group mt-2">
                  <label for="Manager Name">Manager Name</label>
                  <input type="text" class="form-control" placeholder="Enter Manager Name" [(ngModel)]="managerName">
                </div> 
                
                <div class="form-group mt-2">
                  <label for="Manager Phone">Manager Phone</label>
                  <input type="text" class="form-control" placeholder="Enter Manager Phone" [(ngModel)]="managerPhone">
                </div> 
                
                <div class="form-group mt-2">
                  <label for="Manager E-mail">Manager E-mail</label>
                  <input type="text" class="form-control" placeholder="Enter Manager E-mail" [(ngModel)]="manageremail">
                </div> 
          
                <div class="form-group mb-1 mt-1">
                  <label for="System Entry Date">System Entry Date</label>
                  <input type="date" class="form-control" [(ngModel)]="systementryDate">
                </div>
          
                <button type="button" class="btn btn-success mt-1" (click)="accountManagerInfo()">Add</button>
                <!-- AccountManagerInfo-Form-End -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background: #ebf5fc;"></div>
    </div>
  </div>
</div>
