<!-- Navbar-start -->
<nav class="navbar navbar-expand-lg bg-body-tertiary p-3" data-bs-theme="tertiary">
  <div class="container">
    <a class="navbar-brand text-danger" href="#" style="font-family: 'Courier New', Courier, monospace; font-weight: 900; font-size: 28px;">Celloscope</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">User</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
      </form>
    </div>
  </div>
</nav>
<!-- Navbar-end -->

<!-- All-Partner-Show-Data-On-Database -->
<div class="container mb-5" style="margin-top: 114px;">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mx-auto shadow-lg p-3">
        <h2 class="pt-3 pb-0">Dashboard</h2>
        <div class="card shadow-lg">
          <div class="card-body">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger mb-2 mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Partner</button>
            <!-- Search-Form -->
            <div class="">
              <input class="form-control" type="search" placeholder="Search Here" aria-label="Search" style="width: 160px; float: right;">
            </div>
            <h2>All Data</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Cell</th>
                  <th>Address</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>1</td>
                  <td>Asraful Haque</td>
                  <td>haq@gmail.com</td>
                  <td>01717700811</td>
                  <td>Mirpur</td>
                  <td>active</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="margin-left: 5px; margin-right: 5px;">Edit</button>
                    <a class="btn btn-sm btn-danger" href="#">Delete</a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form-Data-Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background: #ebf5fc;">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Partner</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Basic Information
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!-- BasicInfo-Form-Start -->
                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Partner Name</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div> 

                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Joining Date</label>
                  <input type="date" class="form-control">
                </div>

                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Account Number</label>
                  <input type="text" class="form-control" placeholder="Enter Account Number">
                </div>
                
                <div class="form-group mt-2">
                  <label for="Partner Type">Partner Type</label>
                  <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="IGW">IGW</option>
                    <option value="ICX">ICX</option>
                    <option value="IOS">IOS</option>
                    <option value="ANS">ANS</option>
                    <option value="INT">INT</option>
                  </select>
                </div>
                
                <div class="form-group mt-2">
                  <label for="Currency">Currency</label>
                  <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="BDT">BDT</option>
                    <option value="USD">USD</option>
                  </select>
                </div>
                
                <div class="form-group mt-2">
                  <label for="TimeZone">TimeZone</label>
                  <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="Coordinated Universal Time (UTC)">Coordinated Universal Time (UTC)</option>
                    <option value="Greenwich Mean Time (GMT)">Greenwich Mean Time (GMT)</option>
                    <option value="Eastern Standard Time (EST)">Eastern Standard Time (EST)</option>
                    <option value="Central Standard Time (CST)">Central Standard Time (CST)</option>
                    <option value="Mountain Standard Time (MST)">Mountain Standard Time (MST)</option>
                    <option value="Pacific Standard Time (PST)">Pacific Standard Time (PST)</option>
                    <option value="India Standard Time (IST)">India Standard Time (IST)</option>
                    <option value="China Standard Time (CST)">China Standard Time (CST)</option>
                  </select>
                </div>
                
                <div class="form-group mt-2">
                  <label for="Billing Cycle">Billing Cycle</label>
                  <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="Monthly">Monthly</option>
                    <option value="Weekly">Weekly</option>
                    <option value="Yearly">Yearly</option>
                  </select>
                </div>
                
                <div class="form-group mt-2">
                  <label for="Status">Status</label>
                  <select class="custom-select form-control mb-2" id="inputGroupSelect02">
                    <option selected value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                    <option value="Suspended">Suspended</option>
                  </select>
                </div>
          
                <button type="button" class="btn btn-primary mt-1">Add</button>
                <!-- BasicInfo-Form-End -->

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Partner Details
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!-- PartnerDetails-Form-Start -->
                <div class="form-group mt-2">
                  <label for="exampleInputEmail1">Partner Phone Number</label>
                  <input type="text" class="form-control" placeholder="Enter Name">
                </div> 
          
                <div class="form-group mb-1 mt-1">
                  <label for="exampleInputEmail1">Partner Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="exampleInputEmail1">Partner Notification E-mail</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Notification E-mail">
                </div>

                <div class="form-group mb-1 mt-1">
                  <label for="VAT Reg Number">VAT Reg Number</label>
                  <input type="text" class="form-control" placeholder="Enter VAT Reg Number">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="Currency Rate">Currency Rate</label>
                  <input type="text" class="form-control" placeholder="Enter Currency Rate">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="Contact Address">Contact Address</label>
                  <input type="text" class="form-control" placeholder="Enter Contact Address">
                </div>
                
                <div class="form-group mb-1 mt-1">
                  <label for="Billing Address">Billing Address</label>
                  <input type="text" class="form-control" placeholder="Enter Billing Address">
                </div>
          
                <button type="button" class="btn btn-danger mt-1">Add</button>
                <!-- PartnerDetails-Form-End -->

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Account Manager Information
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

                <!-- AccountManagerInfo-Form-Start -->
                <div class="form-group mt-2">
                  <label for="Manager ID">Manager ID</label>
                  <input type="text" class="form-control" placeholder="Enter Manager ID">
                </div> 
                
                <div class="form-group mt-2">
                  <label for="Manager Name">Manager Name</label>
                  <input type="text" class="form-control" placeholder="Enter Manager Name">
                </div> 
                
                <div class="form-group mt-2">
                  <label for="Manager Phone">Manager Phone</label>
                  <input type="text" class="form-control" placeholder="Enter Manager Phone">
                </div> 
                
                <div class="form-group mt-2">
                  <label for="Manager E-mail">Manager E-mail</label>
                  <input type="text" class="form-control" placeholder="Enter Manager E-mail">
                </div> 
          
                <div class="form-group mb-1 mt-1">
                  <label for="System Entry Date">System Entry Date</label>
                  <input type="date" class="form-control">
                </div>
          
                <button type="button" class="btn btn-success mt-1">Add</button>
                <!-- AccountManagerInfo-Form-End -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="background: #ebf5fc;"></div>
    </div>
  </div>
</div>

<!-- Update-Form_Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" style="background: #ebf5fc;">
        <h1 class="modal-title fs-5" id="exampleModalLabel1">Create Partner</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Basic Information Form -->
        <div class="form-group mt-2">
          <label for="exampleInputEmail1">Partner Name</label>
          <input type="text" class="form-control" placeholder="Enter Name">
        </div> 

        <div class="form-group mt-2">
          <label for="exampleInputEmail1">Joining Date</label>
          <input type="date" class="form-control">
        </div>

        <div class="form-group mt-2">
          <label for="exampleInputEmail1">Account Number</label>
          <input type="text" class="form-control" placeholder="Enter Account Number">
        </div>
        
        <div class="form-group mt-2">
          <label for="Partner Type">Partner Type</label>
          <select class="custom-select form-control mb-2" id="inputGroupSelect02">
            <option selected value="IGW">IGW</option>
            <option value="ICX">ICX</option>
            <option value="IOS">IOS</option>
            <option value="ANS">ANS</option>
            <option value="INT">INT</option>
          </select>
        </div>
        
        <div class="form-group mt-2">
          <label for="Currency">Currency</label>
          <select class="custom-select form-control mb-2" id="inputGroupSelect02">
            <option selected value="BDT">BDT</option>
            <option value="USD">USD</option>
          </select>
        </div>
        
        <div class="form-group mt-2">
          <label for="TimeZone">TimeZone</label>
          <select class="custom-select form-control mb-2" id="inputGroupSelect02">
            <option selected value="Coordinated Universal Time (UTC)">Coordinated Universal Time (UTC)</option>
            <option value="Greenwich Mean Time (GMT)">Greenwich Mean Time (GMT)</option>
            <option value="Eastern Standard Time (EST)">Eastern Standard Time (EST)</option>
            <option value="Central Standard Time (CST)">Central Standard Time (CST)</option>
            <option value="Mountain Standard Time (MST)">Mountain Standard Time (MST)</option>
            <option value="Pacific Standard Time (PST)">Pacific Standard Time (PST)</option>
            <option value="India Standard Time (IST)">India Standard Time (IST)</option>
            <option value="China Standard Time (CST)">China Standard Time (CST)</option>
          </select>
        </div>
        
        <div class="form-group mt-2">
          <label for="Billing Cycle">Billing Cycle</label>
          <select class="custom-select form-control mb-2" id="inputGroupSelect02">
            <option selected value="Monthly">Monthly</option>
            <option value="Weekly">Weekly</option>
            <option value="Yearly">Yearly</option>
          </select>
        </div>
        
        <div class="form-group mt-2">
          <label for="Status">Status</label>
          <select class="custom-select form-control mb-2" id="inputGroupSelect02">
            <option selected value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Suspended">Suspended</option>
          </select>
        </div>
        <hr style="color: red">

        <!-- Partner Details Form -->
        <div class="form-group mt-2">
          <label for="exampleInputEmail1">Partner Phone Number</label>
          <input type="text" class="form-control" placeholder="Enter Name">
        </div> 
  
        <div class="form-group mb-1 mt-1">
          <label for="exampleInputEmail1">Partner Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        
        <div class="form-group mb-1 mt-1">
          <label for="exampleInputEmail1">Partner Notification E-mail</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Notification E-mail">
        </div>

        <div class="form-group mb-1 mt-1">
          <label for="VAT Reg Number">VAT Reg Number</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter VAT Reg Number">
        </div>
        
        <div class="form-group mb-1 mt-1">
          <label for="Currency Rate">Currency Rate</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Currency Rate">
        </div>
        
        <div class="form-group mb-1 mt-1">
          <label for="Contact Address">Contact Address</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Contact Address">
        </div>
        
        <div class="form-group mb-1 mt-1">
          <label for="Billing Address">Billing Address</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Billing Address">
        </div>
        <hr style="color: red">

        <!-- Account-management form -->
        <div class="form-group mt-2">
          <label for="Manager ID">Manager ID</label>
          <input type="text" class="form-control" placeholder="Enter Manager ID">
        </div> 
        
        <div class="form-group mt-2">
          <label for="Manager Name">Manager Name</label>
          <input type="text" class="form-control" placeholder="Enter Manager Name">
        </div> 
        
        <div class="form-group mt-2">
          <label for="Manager Phone">Manager Phone</label>
          <input type="text" class="form-control" placeholder="Enter Manager Phone">
        </div> 
        
        <div class="form-group mt-2">
          <label for="Manager E-mail">Manager E-mail</label>
          <input type="text" class="form-control" placeholder="Enter Manager E-mail">
        </div> 
  
        <div class="form-group mb-1 mt-1">
          <label for="System Entry Date">System Entry Date</label>
          <input type="date" class="form-control">
        </div>

        <button type="button" class="btn btn-success mt-1">Update</button>

      </div>
      <div class="modal-footer" style="background: #ebf5fc;"></div>
    </div>
  </div>
</div>
